@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>This web app is written using .Net core 3.1.</p>
<p></p>
<p>The controller named TriangleController exposes 2 action methods:</p>
<p>1.FromRowCol(string id) which returns an action result containing the vertices of a single triangle.</p>
<p>Param id contains the triangle ID as 3 chars, ie. 'A09'</p>
<p></p>
<p>2.GetRowCol(string id) which returns an action result containing the triangle ID of a single triangle.</p>
<p>Param id contains the 3 XY vertices in sequence, ie. '001000001000,'</p>

