@{
    ViewData["Title"] = "Home";
}

<h1>@ViewData["Title"]</h1>
<p>Optional Javascript front end.</p>
<p>This page uses JavaScript and consumes the c# action methods.</p>
<p>Firstly it creates a triangle grid by requesting each triangle.</p>
<p>The response is JSON data containing the vertices.</p>
<p>Each triangle is rendered to a canvas for visual confirmation.</p>
<p>Hoover the mouse over the canvas for a surprise :) .</p>

<div>
    <canvas id="canvas" width="150" height="80"></canvas>
</div>
<div>
    <canvas id="MsgArea" width="650" height="50"></canvas>
</div>

@section scripts{
<script type="text/javascript">

    var canvas = document.getElementById('canvas');
    var contextForTriGrid = canvas.getContext('2d');
    var contextForMsg = MsgArea.getContext('2d');

    function docReady() {
        displayAllTriangles(contextForTriGrid);
        displayTriAtMouse(canvas, MsgArea, contextForMsg);
    }
    $(document).ready(docReady()); 
</script>
}